asyncpg==0.30.0
bcrypt==4.3.0
fastapi==0.115.11
fastapi-cache2==0.2.2
fastapi-limiter==0.1.6
httpx==0.28.1
isort==6.0.1
pandas==2.2.3
passlib==1.7.4
pydantic==2.10.6
PyJWT==2.9.0
pylint==3.3.5
pytest==8.3.5
pytest-asyncio==0.25.3
python-dotenv==1.0.1
redis==5.3.0b5
six==1.17.0
uvicorn==0.34.0
pydantic_settings==2.8.1